<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801713113490-qd2n5mbre3fa7ctt1kgoergq8a8qtmdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801713113490-qd2n5mbre3fa7ctt1kgoergq8a8qtmdh</string>
	<key>API_KEY</key>
	<string>AIzaSyDlsFm66Qh8ZsLsvpHAzn929OwexHiolV4</string>
	<key>GCM_SENDER_ID</key>
	<string>801713113490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-200df</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-200df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801713113490:ios:943ae4575f5ff8f8e2594b</string>
</dict>
</plist>